<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Aindra Systems</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link href="/css/animate.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		
		<script src="/js/jquery-1.12.4.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/modernizr.custom.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/gnmenu.js"></script>
	</head>
	<body class="pace-done" onload="getUserRequest();">
		<div class="wrapper">
			<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <i class="fa fa-list"><img alt="image" class="img-circle" height="48" width="48" src="/images/clustr.png" />
                             </span></i><span class="nav-label">CervAstra</span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            
                    <!-- <div class="logo-element">
                        BB
                    </div> -->
                </li>
            </ul>

        </div>
	<br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
	</br>
	<br>
	</br>
	<br>
	</br>
	<br>
	</br>
        <br>
        </br>
        <br>
        </br>
	<br>
        </br>
        <br>
        </br>
        <br>
        </br>
	<img src="/images/logo.png" alt="Smiley face" height="50" width="150"> 
		
    </nav>
	<div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/partials/signcerv.html">
                             Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="/partials/logincerv.html">
                             Login
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
	<div class="wrapper wrapper-content animated fadeInRight">
<div>
<!--
            <span class="voteCount">{{story.vote_count}}</span>  | <a href="javascript:VoteUp('{{story.key.id()}}');" >Vote Up Story</a>
-->
	<!--<a href="javascript:getUserRequest();">Invoking GET REST API</a> -->
        </div>
        <script>
	function getUserRequest() {
        var currentuser = localStorage["astrauser"]; 
        console.log(currentuser);
//        var astraurl1 = "https://devcervastra-221109.appspot.com/_ah/api/cervastraApi/v1/users?astrauserid=" + encodeURIComponent(currentuser);
	var astraurl = "https://devcervastra-221109.appspot.com/_ah/api/cervastraApi/v1/users?astrauser_id=" + decodeURIComponent(currentuser);
       // console.log(astraurl1);
        console.log(astraurl);
//        var obj = { astrauserid: currentuser };
//        var url = 'https://devcervastra-221109.appspot.com/_ah/api/cervastraApi/v1/users?' + $.param(obj);
//	console.log(url);

	$.ajax({
		type: "GET",
		url: astraurl
	})
	.done(function(data) {
		console.log(data)
		$('#apioutput1').html(data.astraUserFullName);
	});
	};
        </script>
    <div class="row border-bottom white-bg dashboard-header">
	<div class="col-md-10">
		<div class="ibox">
			<div class="ibox-title">
				<h2>The Account will be registered after the Activation of the Account. Please check your mail if the account is activated.</h2>
			</div>
			<div class="ibox-content">
			</div>
		</div>

		<div id="apioutput1"></div>
		<div id="apioutput2"></div>
		<div id="apioutput3"></div>
	</div>
    </div>
    </div> 
</div>
</body>
</html>
